@model EmployeeDetailsViewModel

<div class="row">
    <div class="col-6">
        <form asp-controller="Employee" asp-action="Update" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Id" class="form-label">Employee Id</label>
                <input asp-for="@Model.Id" value="@Model.Id" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Employee Name</label>
                <input asp-for="@Model.Name" value="@Model.Name" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Address" class="form-label">Address</label>
                <input asp-for="@Model.Address" value="@Model.Address" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Salary" class="form-label">Salary</label>
                <input asp-for="@Model.Salary" value="@Model.Salary" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.HiringDate" class="form-label">HiringDate</label>
                <input asp-for="@Model.HiringDate"  class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.DepartmentName" class="form-label">Department</label>
                <input asp-for="@Model.DepartmentName" value="@Model.DepartmentName" class="form-control" readonly>
            </div>
            

            <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>
            <a asp-action="Index" class="btn btn-dark">Back To List</a>
        </form>
    </div>
    <div class="col-6">
        <div style="width: 18rem;">
            <img src="~/Files/Images/@Model.ImageUrl" class="card-img-top w-100" alt="Employee Image">
        </div>
    </div>
</div>


